@font-face {
  font-weight: 400;
  font-family: "OpenSans";
  font-style: normal;
  src: url("../fonts/OpenSans.woff2") format("woff2"), url("../fonts/OpenSans.woff") format("woff");
}
@font-face {
  font-weight: bold;
  font-family: "Tahoma";
  font-style: normal;
  src: url("../fonts/Tahoma.woff2") format("woff2"), url("../fonts/Tahoma.woff") format("woff");
}
@font-face {
  font-weight: 400;
  font-family: "Verdana";
  font-style: normal;
  src: url("../fonts/Verdana.woff2") format("woff2"), url("../fonts/Verdana.woff") format("woff");
}
@font-face {
  font-weight: 700;
  font-family: "Verdana_Bold";
  font-style: normal;
  src: url("../fonts/Verdana_Bold.woff2") format("woff2"), url("../fonts/Verdana_Bold.woff") format("woff");
}
.testing {
  width: 71.42857143%;
}
html,
body {
  margin: 0;
  padding: 0;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
a {
  text-decoration: none;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
p {
  margin: 0;
}
.page-header__logo {
  border-top: 1px solid #d3d2d2;
}
.page-header__logo a {
  display: block;
  padding: 0;
  padding-top: 21px;
  padding-bottom: 22px;
  font-size: 0;
}
.page-header__logo img {
  width: 86px;
  height: 35px;
  font-size: 0;
}
@media (min-width: 668px) {
  .page-header {
    display: flex;
    flex-direction: column;
  }
  .page-header__logo {
    min-height: 88px;
    float: left;
    border: none;
  }
  .page-header__logo a {
    width: 113px;
    padding: 44px 0;
    background: url("../img/mishka-logo-tablet.svg") no-repeat;
    background-position: center;
  }
  .page-header__logo img {
    display: none;
  }
}
@media (min-width: 1050px) {
  .page-header__logo {
    position: absolute;
    top: 0;
    left: 450px;
  }
  .page-header__logo a {
    width: 149px;
    padding: 44px 0;
    background: url("../img/mishka-logo-desktop.svg") no-repeat;
    background-position: center;
  }
  .page-header__logo a:hover {
    background: url("../img/mishka-logo-desktop--hover.svg") no-repeat;
    background-position: center;
  }
}
.page-main {
  margin: 0;
  padding: 0;
}
.btn {
  display: block;
  padding: 15px 0;
  font-family: "OpenSans", sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: #444444;
  border: #444444 solid 2px;
}
.btn:hover {
  color: white;
  background-color: #444444;
}
.btn:active {
  color: #797979;
}
.main-navigation {
  position: relative;
  width: 260px;
  margin: 0 auto;
  text-align: center;
  font-family: "Verdana_Bold", sans-serif;
}
@media (min-width: 668px) {
  .main-navigation {
    width: 668px;
  }
}
@media (min-width: 1050px) {
  .main-navigation {
    width: 1050px;
  }
}
.main-navigation__toggle {
  position: absolute;
  top: 1px;
  right: 0;
  width: 40px;
  min-height: 78px;
  padding: 0;
  font-size: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.main-navigation__toggle:active,
.main-navigation__toggle:focus {
  border: none;
  outline: none;
}
.main-navigation--closed .main-navigation__toggle::before {
  content: "";
  position: absolute;
  top: 29px;
  right: 0;
  width: 20px;
  height: 2px;
  background-color: black;
  box-shadow: 0 6px 0 0 black,
				0 12px 0 0 black;
}
.main-navigation--opened .main-navigation__toggle::before,
.main-navigation--opened .main-navigation__toggle::after {
  content: "";
  position: absolute;
  top: 36px;
  right: 0;
  width: 20px;
  height: 2px;
  background-color: black;
}
.main-navigation--opened .main-navigation__toggle::before {
  box-shadow: none;
  transform: rotate(45deg);
}
.main-navigation--opened .main-navigation__toggle::after {
  transform: rotate(-45deg);
}
.main-navigation--opened .main-navigation__wrapper,
.main-navigation--nojs .main-navigation__wrapper {
  display: block;
  transition: display 1s;
}
.main-navigation__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.main-navigation__user-block {
  margin: 0;
  padding: 0;
}
.main-navigation__item {
  font-family: "Verdana_Bold", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: black;
  border-top: 1px solid #d3d2d2;
}
.main-navigation__user-block .main-navigation__item {
  position: relative;
  background-repeat: no-repeat;
  background-position: 2px 30px;
  background-size: 18px;
}
.main-navigation__user-block .main-navigation__item:first-child {
  background-image: url("../img/search-off.svg");
}
.main-navigation__user-block .main-navigation__item:first-child:hover {
  background-image: url("../img/search-hover.svg");
}
.main-navigation__user-block .main-navigation__item:first-child:active,
.main-navigation__user-block .main-navigation__item:first-child:focus {
  background-image: url("../img/search-active.svg");
}
.main-navigation__user-block .main-navigation__item:last-child {
  background-image: url("../img/basket-off.svg");
}
.main-navigation__user-block .main-navigation__item:last-child:hover {
  background-image: url("../img/basket-hover.svg");
}
.main-navigation__user-block .main-navigation__item:last-child:active,
.main-navigation__user-block .main-navigation__item:last-child:focus {
  background-image: url("../img/basket-active.svg");
}
.main-navigation__item a {
  display: block;
  padding: 27px 0;
  color: black;
}
.main-navigation__item a:hover {
  color: #a5a5a5;
}
.main-navigation__item label {
  display: block;
  padding: 27px 0;
  cursor: pointer;
}
.main-navigation__item label:active,
.main-navigation__item label:focus {
  font-size: 0;
}
.main-navigation__item label:hover {
  color: #a5a5a5;
}
.main-navigation__user-search {
  position: absolute;
  top: 25px;
  left: 0;
  z-index: -1;
  display: block;
  width: 100%;
  font-family: "Verdana_Bold", sans-serif;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: black;
  background-color: white;
  border: 0;
}
.main-navigation__user-search:focus {
  z-index: 2;
  display: block;
  border-bottom: 1px solid grey;
  outline: none;
}
@media (max-width: 667px) {
  .main-navigation--closed .main-navigation__wrapper {
    display: none;
    transition: display 1s;
  }
}
@media (min-width: 668px) {
  .main-navigation::after {
    content: "";
    display: table;
    clear: both;
  }
  .main-navigation::after {
    content: "Бесплтаная доставка по России";
    position: absolute;
    top: 88px;
    right: 0;
    z-index: 1;
    padding-top: 20px;
    font-family: "Verdana", sans-serif;
    font-size: 14px;
    line-height: 24px;
  }
  .main-navigation__wrapper {
    float: right;
    display: block;
  }
  .main-navigation__toggle {
    display: none;
  }
  .main-navigation__list {
    position: absolute;
    top: 88px;
    z-index: 1;
    left: 0;
  }
  .main-navigation__user-block::after {
    content: "";
    display: table;
    clear: both;
  }
  .main-navigation__item {
    float: left;
    border-top: none;
  }
  .main-navigation__list .main-navigation__item {
    margin-right: 30px;
    font-size: 14px;
  }
  .main-navigation__list .main-navigation__item a {
    padding: 0;
    padding-top: 20px;
  }
  .main-navigation__user-block .main-navigation__item {
    border-left: 1px solid #d3d2d2;
  }
  .main-navigation__user-block .main-navigation__item:first-child {
    width: 83px;
    background-position: 33px 36px;
    background-size: 19px;
  }
  .main-navigation__user-block .main-navigation__item:last-child {
    background-position: 31px 35px;
    background-size: 21px;
  }
  .main-navigation__user-block .main-navigation__item a {
    padding: 32px;
    padding-left: 76px;
  }
  .main-navigation__item label {
    padding: 32px 0;
    font-size: 0;
  }
  .search--active {
    width: 200px;
  }
}
@media (min-width: 1050px) {
  .main-navigation__wrapper {
    float: none;
  }
  .main-navigation__list {
    position: static;
    float: left;
  }
  .main-navigation__user-block {
    float: right;
  }
  .main-navigation__item {
    position: relative;
    border-right: 1px solid #d3d2d2;
  }
  .main-navigation__item:last-child {
    border: none;
  }
  .main-navigation__list .main-navigation__item {
    margin-right: 34px;
  }
  .main-navigation__list .main-navigation__item::after {
    content: "Новые поступления";
    position: absolute;
    top: 88px;
    left: 0;
    z-index: 1;
    padding-top: 20px;
    font-size: 14px;
    line-height: 24px;
    cursor: pointer;
  }
  .main-navigation__list .main-navigation__item:last-child::after {
    content: "Распродажа";
  }
  .main-navigation__list .main-navigation__item a {
    padding: 32px 0;
    padding-right: 36px;
    font-size: 16px;
    line-height: 24px;
  }
  .main-navigation__user-block .main-navigation__item a {
    padding-right: 0;
  }
}
.description {
  padding-top: 86px;
  border-top: 1px solid #d3d2d2;
  background: url('../img/bg-index-mobile.jpg') no-repeat center top;
}
.description__header {
  width: 260px;
  margin: 0 auto;
  margin-bottom: 123px;
}
@media (min-width: 668px) {
  .description__header {
    width: 668px;
  }
}
@media (min-width: 1050px) {
  .description__header {
    width: 1050px;
  }
}
.description__title {
  font-size: 24px;
  line-height: 30px;
  font-family: "Verdana_Bold", sans-serif;
  text-align: center;
}
.description__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.description__item {
  color: white;
  background-color: #63d1bb;
}
.description__item:hover {
  background-color: #59d5bc;
}
.description__item:last-child {
  background-color: #56c3b2;
}
.description__item:last-child:hover {
  background-color: #46c1ae;
}
.description__item a {
  display: block;
  padding-top: 27px;
  padding-bottom: 28px;
  width: 260px;
  margin: 0 auto;
  font-family: "Tahoma", sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: inherit;
  background: url("../img/interior.svg") no-repeat;
  background-position: right;
  background-position-x: 210px;
  background-size: 40px auto;
}
@media (min-width: 668px) {
  .description__item a {
    width: 668px;
  }
}
@media (min-width: 1050px) {
  .description__item a {
    width: 1050px;
  }
}
.description__item a:hover {
  background-image: url("../img/interior--hover.svg");
}
.description__item:last-child a {
  background: url("../img/toy.svg") no-repeat;
  background-position: right;
  background-size: 60px;
}
.description__item:last-child a:hover {
  background-image: url("../img/toy--hover.svg");
}
@media (min-width: 668px) {
  .description {
    position: relative;
    padding-top: 152px;
    background: url('../img/bg-desktop.jpg') no-repeat center top;
  }
  .description::before {
    content: "";
    position: absolute;
    bottom: 0;
    min-height: 20px;
    width: 100%;
    background: url("../img/zigzag-desktop.svg") no-repeat;
    background-repeat: repeat-x;
    background-position-x: -16px;
    background-size: contain;
  }
  .description__header {
    margin-bottom: 374px;
  }
  .description__title {
    font-size: 40px;
    line-height: 50px;
  }
  .description__list {
    width: 260px;
    margin: 0 auto;
  }
  .description__list::after {
    content: "";
    display: table;
    clear: both;
  }
  .description__item {
    float: left;
    min-height: 119px;
    width: 50%;
  }
  .description a {
    width: auto;
    margin: 0;
    padding: 0 34px;
    padding-top: 30px;
    padding-bottom: 40px;
    font-size: 20px;
    line-height: 30px;
    background-position: 256px 30px;
    background-size: 42px auto;
  }
  .description__item:last-child a {
    background: url("../img/toy.svg") no-repeat;
    background-position: right;
    background-position: 240px 30px;
    background-size: 62px;
  }
}
@media (min-width: 668px) and (min-width: 668px) {
  .description__list {
    width: 668px;
  }
}
@media (min-width: 668px) and (min-width: 1050px) {
  .description__list {
    width: 1050px;
  }
}
@media (min-width: 1050px) {
  .description {
    padding-top: 158px;
    background-size: cover;
  }
  .description::before {
    min-height: 34px;
    background-position-x: 18px;
    background-size: contain;
  }
  .description__header {
    margin-bottom: 354px;
  }
  .description__title {
    font-size: 50px;
    line-height: 57px;
  }
  .description a {
    padding: 0 38px;
    padding-top: 30px;
    padding-bottom: 46px;
    font-size: 20px;
    line-height: 30px;
    background-position: 448px 30px;
    background-size: 42px auto;
  }
  .description__item:last-child a {
    background: url("../img/toy.svg") no-repeat;
    background-position: right;
    background-position: 430px 30px;
    background-size: 62px;
  }
}
.featured {
  background: url("../img/wave-line.svg") repeat-x;
  background-position: center bottom;
  background-size: auto 6px;
}
.featured__wrapper {
  width: 260px;
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 41px;
}
@media (min-width: 668px) {
  .featured__wrapper {
    width: 668px;
  }
}
@media (min-width: 1050px) {
  .featured__wrapper {
    width: 1050px;
  }
}
.featured__title {
  margin: 0;
  font-family: "Verdana_Bold", sans-serif;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: -0.1px;
}
.featured__category {
  display: block;
  margin-bottom: 24px;
  font-family: "OpenSans", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #63d1bb;
  text-transform: uppercase;
}
.featured__text {
  margin: 0;
  margin-bottom: 15px;
  font-family: "OpenSans", sans-serif;
  font-size: 14px;
  line-height: 24px;
}
.featured__table {
  width: 100%;
  display: table;
  margin: 0;
  margin-bottom: 28px;
  padding: 0;
  font-family: "OpenSans", sans-serif;
  font-size: 14px;
  line-height: 20px;
  border-collapse: collapse;
}
.featured td {
  padding: 10px 0;
  padding-bottom: 9px;
  border-bottom: 1px solid #d3d2d2;
}
.featured__foto {
  margin-bottom: 25px;
}
.featured__foto img {
  width: 260px;
  height: 315px;
}
.featured__price {
  display: block;
  margin-bottom: 25px;
  font-family: "Verdana_Bold", sans-serif;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
}
@media (min-width: 668px) {
  .featured {
    background-size: auto 17px;
  }
  .featured__wrapper {
    padding-top: 34px;
    padding-bottom: 69px;
  }
  .featured__wrapper::after {
    content: "";
    display: table;
    clear: both;
  }
  .featured__header {
    margin-bottom: 46px;
  }
  .featured__header::after {
    content: "";
    display: table;
    clear: both;
  }
  .featured__title,
  .featured__category {
    display: inline;
  }
  .featured__title {
    float: left;
    margin: 0;
    font-size: 40px;
    line-height: 50px;
  }
  .featured__category {
    float: right;
    width: 70px;
    margin: 0;
    margin-top: 8px;
    margin-right: 28px;
    line-height: 16px;
    text-align: center;
  }
  .featured__text {
    float: left;
    width: 284px;
    margin-right: 50px;
    margin-bottom: 38px;
    font-size: 16px;
    line-height: 30px;
  }
  .featured__table {
    float: left;
    width: 290px;
    margin-right: 45px;
    margin-bottom: 58px;
    font-size: 15px;
  }
  .featured__foto {
    float: right;
    width: 333px;
    height: 404px;
    margin: 0;
    margin-top: -121px;
    font-size: 0;
    background: url("../img/triple-set-tablet.jpg");
  }
  .featured img {
    display: none;
  }
  .featured__price {
    float: right;
    display: block;
    width: auto;
    margin-left: 70px;
    margin-right: 110px;
    margin-bottom: 32px;
    font-size: 18px;
  }
  .featured .btn {
    float: left;
    width: 288px;
  }
}
@media (min-width: 1050px) {
  .featured {
    background-size: auto 23px;
  }
  .featured__wrapper {
    position: relative;
    width: calc(875px);
    padding-top: 110px;
    padding-left: 175px;
    padding-bottom: 96px;
  }
  .featured__header {
    position: relative;
    z-index: 1;
    width: auto;
    margin-bottom: 46px;
  }
  .featured__title {
    font-size: 50px;
    line-height: 57px;
  }
  .featured__category {
    position: absolute;
    float: none;
    top: 11px;
    left: -128px;
  }
  .featured__text {
    margin-bottom: 48px;
    margin-right: 350px;
  }
  .featured__table {
    margin-bottom: 110px;
  }
  .featured__foto {
    width: 525px;
    height: 636px;
    margin-top: -298px;
    background: url("../img/triple-set-desktop.jpg");
  }
  .featured__price {
    margin-right: 124px;
    margin-bottom: 32px;
  }
}
.advantage__wrapper {
  width: 260px;
  margin: 0 auto;
  padding: 30px 0;
}
@media (min-width: 668px) {
  .advantage__wrapper {
    width: 668px;
  }
}
@media (min-width: 1050px) {
  .advantage__wrapper {
    width: 1050px;
  }
}
.advantage__title {
  margin-bottom: 30px;
  font-family: "Verdana_Bold", sans-serif;
  font-size: 24px;
  line-height: 30px;
}
.advantage__list--left {
  margin-bottom: 30px;
}
.advantage__item {
  margin-bottom: 31px;
  padding-top: 56px;
  font-family: "Verdana_Bold", sans-serif;
  font-size: 16px;
  line-height: 18px;
  background: no-repeat left top;
}
.advantage__list--left .advantage__item:nth-child(1) {
  background: url("../img/advantage_1.svg") no-repeat left top;
  background-position: 8px 0;
  background-size: 32px auto;
}
.advantage__list--left .advantage__item:nth-child(2) {
  background-image: url("../img/advantage_2.svg");
  background-position: 0 2px;
  background-size: 47px auto;
}
.advantage__list--left .advantage__item:nth-child(3) {
  background-image: url("../img/advantage_3.svg");
  background-position: 8px 8px;
  background-size: 34px auto;
}
.advantage__list--right .advantage__item:nth-child(1) {
  background-image: url("../img/advantage_4.svg");
  background-position: 3px 3px;
  background-size: 35px auto;
}
.advantage__list--right .advantage__item:nth-child(2) {
  background-image: url("../img/advantage_5.svg");
  background-position: 0 4px;
  background-size: 55px auto;
}
.advantage__list--right .advantage__item:nth-child(3) {
  margin-bottom: 0;
  background-image: url("../img/advantage_6.svg");
  background-position: 0 2px;
  background-size: 35px auto;
}
@media (min-width: 668px) {
  .advantage__wrapper {
    padding: 50px 0;
    padding-bottom: 80px;
  }
  .advantage__wrapper::after {
    content: "";
    display: table;
    clear: both;
  }
  .advantage__title {
    margin-bottom: 47px;
    font-size: 40px;
    line-height: 50px;
  }
  .advantage__list--left {
    float: left;
    width: 50%;
    margin: 0;
  }
  .advantage__list--right {
    float: right;
    width: 50%;
  }
  .advantage__item {
    margin-bottom: 50px;
    padding-top: 56px;
    font-size: 20px;
    line-height: 24px;
  }
  .advantage__list--left .advantage__item {
    padding-right: 90px;
  }
  .advantage__list--left .advantage__item:nth-child(2) {
    padding-right: 80px;
    background-position: 0 3px;
  }
  .advantage__list--left .advantage__item:nth-child(3) {
    margin-bottom: 0;
    background-position: 8px 9px;
  }
  .advantage__list--right .advantage__item:nth-child(1) {
    background-position: 4px 4px;
  }
  .advantage__list--right .advantage__item:nth-child(2) {
    background-position: 0 6px;
  }
  .advantage__list--right .advantage__item:nth-child(3) {
    background-position: 3px 5px;
  }
}
@media (min-width: 1050px) {
  .advantage__wrapper {
    box-sizing: border-box;
    padding: 0 175px;
    padding-top: 64px;
    padding-bottom: 87px;
  }
  .advantage__wrapper::after {
    content: "";
    display: table;
    clear: both;
  }
  .advantage__title {
    margin-bottom: 43px;
    font-size: 50px;
    line-height: 57px;
  }
}
.review {
  background: url("../img/wave-line.svg") repeat-x;
  background-position: center bottom;
  background-size: auto 6px;
}
.review__wrapper {
  width: 260px;
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 50px;
}
@media (min-width: 668px) {
  .review__wrapper {
    width: 668px;
  }
}
@media (min-width: 1050px) {
  .review__wrapper {
    width: 1050px;
  }
}
.review__title {
  margin-bottom: 22px;
  font-family: "Verdana_Bold", sans-serif;
  font-size: 24px;
  line-height: 30px;
}
.review__text {
  margin: 0;
  margin-bottom: 16px;
  font-family: "OpenSans", sans-serif;
  font-size: 14px;
  line-height: 30px;
}
.review__autor {
  margin-bottom: 27px;
}
.review__name {
  font-family: "Verdana_Bold", sans-serif;
  font-size: 14px;
  line-height: 30px;
}
.review__email {
  font-family: "OpenSans", sans-serif;
  font-size: 14px;
  line-height: 30px;
}
.review__slider {
  margin-bottom: 38px;
}
.review__slider::after {
  content: "";
  display: table;
  clear: both;
}
.review__slider .btn {
  padding: 24px 0;
  width: 50%;
  font-size: 0;
  line-height: 0;
  border-color: #ececec;
  outline: none;
  cursor: pointer;
}
.review__slider .btn:first-child {
  float: left;
  background: url("../img/prew_arrow.svg") no-repeat center;
  background-size: 50px auto;
}
.review__slider .btn:first-child:hover {
  background-image: url("../img/prew_arrow--hover.svg");
}
.review__slider .btn:first-child:active {
  background-image: url("../img/prew_arrow--active.svg");
}
.review__slider .btn:last-child {
  float: right;
  background: url("../img/next_arrow.svg") no-repeat center;
  background-size: 50px auto;
  border-left: none;
}
.review__slider .btn:last-child:hover {
  background-image: url("../img/next_arrow--hover.svg");
}
.review__slider .btn:last-child:active {
  background-image: url("../img/next_arrow--active.svg");
}
.review_btn {
  display: block;
  width: 100%;
  background: none;
}
@media (min-width: 668px) {
  .review {
    position: relative;
    background-size: auto 17px;
  }
  .review::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 350px;
    height: 457px;
    background: url("../img/review.jpg") no-repeat;
    background-position: 0 0;
  }
  .review__wrapper {
    position: relative;
    padding-top: 80px;
    padding-bottom: 177px;
  }
  .review__wrapper::after {
    content: "";
    display: table;
    clear: both;
  }
  .review__title {
    margin-bottom: 47px;
    font-size: 40px;
    line-height: 50px;
  }
  .review__text {
    margin-bottom: 8px;
    font-size: 16px;
  }
  .review__autor {
    float: left;
    margin-bottom: 0;
  }
  .review__name,
  .review__email {
    font-size: 16px;
  }
  .review__slider {
    float: right;
    width: 175px;
    margin-bottom: 0;
  }
  .review__slider .btn {
    border: none;
  }
  .review_btn {
    position: absolute;
    top: 80px;
    right: 0;
    width: 171px;
  }
}
@media (min-width: 1050px) {
  .review {
    background-size: auto 23px;
  }
  .review__wrapper {
    position: relative;
    box-sizing: border-box;
    padding: 0;
    padding-top: 76px;
    padding-left: 175px;
    padding-bottom: 183px;
  }
  .review__wrapper::after {
    content: "";
    display: table;
    clear: both;
  }
  .review__title {
    margin-bottom: 45px;
    font-size: 50px;
    line-height: 57px;
  }
  .review__text {
    width: 80%;
    margin-bottom: 6px;
  }
}
.contacts {
  width: 260px;
  margin: 0 auto;
  padding-top: 40px;
  padding-bottom: 39px;
}
@media (min-width: 668px) {
  .contacts {
    width: 668px;
  }
}
@media (min-width: 1050px) {
  .contacts {
    width: 1050px;
  }
}
.contacts__header {
  margin-bottom: 30px;
}
.contacts__title {
  margin-bottom: 24px;
  font-family: "Verdana_Bold", sans-serif;
  font-size: 24px;
  line-height: 30px;
}
.contacts__table {
  width: 100%;
  font-family: "OpenSans", sans-serif;
  font-size: 14px;
  line-height: 30px;
  border-spacing: 0;
}
.contacts__table tr:first-child td {
  padding-bottom: 26px;
}
.contacts__table tr:first-child .contacts__value {
  position: relative;
}
.contacts__table tr:first-child .contacts__value::after {
  content: "";
  position: absolute;
  top: 25px;
  left: 25px;
  width: 75%;
  height: 2px;
  background-color: #63d1bb;
}
.contacts__table tr:first-child .contacts__value:hover {
  color: #63d1bb;
}
.contacts__table tr:first-child .contacts__value:active {
  color: #e5f6f4;
}
.contacts__table tr:first-child .contacts__value:active::after {
  background-color: #e5f6f4;
}
.contacts__parameter {
  padding-right: 6px;
  vertical-align: top;
}
.contacts__value {
  padding-left: 24px;
}
.contacts__map {
  position: relative;
  min-height: 457px;
  margin: 0 -30px;
  margin-bottom: 39px;
  background: url('../img/map-index-mobile.jpg') no-repeat;
  background-size: cover;
}
.map-pin {
  position: absolute;
  top: 165px;
  left: 123px;
  width: 67px;
  height: 100px;
}
@media (min-width: 668px) {
  .contacts {
    position: relative;
    padding-top: 62px;
    padding-bottom: 57px;
  }
  .contacts__header {
    margin-bottom: 56px;
  }
  .contacts__header::after {
    content: "";
    position: absolute;
    top: 46px;
    right: 3px;
    width: 47px;
    height: 81px;
    background: url("../img/flag.svg") no-repeat;
  }
  .contacts__title {
    margin-bottom: 46px;
    font-size: 40px;
    line-height: 50px;
  }
  .contacts__table {
    display: block;
    font-size: 16px;
  }
  .contacts__table::after {
    content: "";
    display: table;
    clear: both;
  }
  .contacts__table tr {
    display: block;
  }
  .contacts__table tr:nth-child(1) {
    float: left;
    margin-right: 64px;
  }
  .contacts__table tr:nth-child(2) {
    float: right;
  }
  .contacts__table tr:first-child td {
    padding-bottom: 0;
  }
  .contacts__parameter {
    padding: 0;
  }
  .contacts__value {
    padding-left: 25px;
  }
  .contacts__map {
    margin: 0 -50px;
    margin-bottom: 55px;
    background-image: url("../img/map-tablet.jpg");
  }
  .map-pin {
    left: 347px;
  }
  .contacts__footer {
    width: 230px;
    margin: 0 auto;
  }
}
@media (min-width: 1050px) {
  .contacts {
    position: relative;
    width: calc(875px);
    padding-top: 71px;
    padding-left: 175px;
    padding-bottom: 105px;
  }
  .contacts::after {
    content: "";
    display: table;
    clear: both;
  }
  .contacts__header {
    float: left;
    width: auto;
    margin-bottom: 79px;
    padding-top: 74px;
  }
  .contacts__header::after {
    content: "";
    position: absolute;
    top: 133px;
    right: 0;
    left: 63px;
    width: 47px;
    height: 81px;
    background: url("../img/flag.svg") no-repeat;
  }
  .contacts__title {
    margin-bottom: 45px;
    font-size: 50px;
    line-height: 57px;
  }
  .contacts__table {
    display: table;
    border: none;
    border-collapse: collapse;
    border-spacing: 0;
  }
  .contacts__table tr {
    display: table-row;
  }
  .contacts__table tr:nth-child(1) {
    float: none;
    margin-right: 0;
  }
  .contacts__table tr:nth-child(2) {
    float: none;
  }
  .contacts__table td {
    padding: 0;
  }
  .contacts__table tr:first-child td {
    padding-bottom: 30px;
  }
  .contacts__table .contacts__value {
    padding-left: 25px;
  }
  .contacts__map {
    float: right;
    min-height: 457px;
    min-width: 525px;
    margin: 0;
    background-position: center;
  }
  .map-pin {
    top: 166px;
    left: 220px;
  }
  .contacts__footer {
    float: left;
  }
}
.catalog__title-wrapper {
  padding-top: 72px;
  padding-bottom: 75px;
  background-color: #f1f1f1;
}
.catalog__title {
  width: 260px;
  margin: 0 auto;
  font-family: "Verdana_Bold", sans-serif;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
}
@media (min-width: 668px) {
  .catalog__title {
    width: 668px;
  }
}
@media (min-width: 1050px) {
  .catalog__title {
    width: 1050px;
  }
}
@media (min-width: 668px) {
  .catalog__title-wrapper {
    position: relative;
    padding-top: 96px;
    padding-bottom: 92px;
  }
  .catalog__title-wrapper::before {
    content: "";
    position: absolute;
    bottom: 0;
    min-height: 20px;
    width: 100%;
    background: url("../img/zigzag-desktop.svg") no-repeat;
    background-repeat: repeat-x;
    background-position-x: -16px;
    background-size: contain;
  }
  .catalog__title {
    font-size: 40px;
    line-height: 50px;
    text-align: center;
  }
}
@media (min-width: 1050px) {
  .catalog__title-wrapper {
    margin-bottom: 0;
    padding-top: 98px;
    padding-bottom: 117px;
  }
  .catalog__title-wrapper::before {
    min-height: 34px;
  }
  .catalog__title {
    font-size: 50px;
    line-height: 57px;
  }
}
.product {
  width: 260px;
  margin: 0 auto;
}
@media (min-width: 668px) {
  .product {
    width: 668px;
  }
}
@media (min-width: 1050px) {
  .product {
    width: 1050px;
  }
}
.product__header {
  width: 260px;
  height: 195px;
  padding-top: 30px;
}
.product__footer {
  padding: 27px;
  padding-bottom: 26px;
  border: 1px solid #ededed;
  cursor: pointer;
}
.product__footer:hover {
  box-shadow: 0 12px 20px #e9e9e9;
}
.product__footer:hover .product__basket-btn {
  background: url("../img/basket-hover.svg");
}
.product__footer:hover .product__title {
  color: #8d8d8d;
}
.product__footer:hover .product__price {
  color: #8d8d8d;
}
.product__footer:active {
  box-shadow: 0 0 10px #e9e9e9;
}
.product__footer:active .product__basket-btn {
  background: url("../img/basket-active.svg");
}
.product__footer:active .product__title {
  color: #cacaca;
}
.product__footer:active .product__price {
  color: #cacaca;
}
.product__title {
  margin-bottom: 5px;
  font-family: "Verdana_Bold", sans-serif;
  font-size: 16px;
  line-height: 24px;
}
.product__character {
  display: inline-block;
  padding-bottom: 18px;
  font-family: "OpenSans", sans-serif;
  font-size: 14px;
  line-height: 30px;
}
.product__price {
  position: relative;
  display: block;
  padding-top: 23px;
  font-family: "Verdana_Bold", sans-serif;
  font-size: 14px;
  line-height: 24px;
  border-top: 1px solid #ededed;
}
.product__basket-btn {
  position: absolute;
  top: 22px;
  right: 0;
  width: 20px;
  height: 19px;
  background: url("../img/basket-off.svg");
  border: none;
  outline: none;
}
@media (min-width: 668px) {
  .product__wrapper {
    padding-top: 68px;
    padding-bottom: 53px;
  }
  .product {
    min-height: 334px;
    margin-bottom: 54px;
  }
  .product::after {
    content: "";
    display: table;
    clear: both;
  }
  .product:last-child {
    margin-bottom: 0;
  }
  .product:nth-child(1) .product__photo {
    content: url("../img/photo-1-tablet.jpg");
  }
  .product:nth-child(2) .product__photo {
    content: url("../img/photo-2-tablet.jpg");
  }
  .product:nth-child(3) .product__photo {
    content: url("../img/photo-3-tablet.jpg");
  }
  .product__header {
    float: left;
    width: 333px;
    min-height: 334px;
    padding: 0;
  }
  .product__photo {
    width: 334px;
    height: 334px;
  }
  .product__footer {
    float: left;
    width: 275px;
    padding-left: 27px;
    padding-right: 31px;
    padding-top: 28px;
    padding-bottom: 25px;
  }
  .product__character {
    padding-bottom: 172px;
  }
}
@media (min-width: 1050px) {
  .product__wrapper {
    width: 260px;
    margin: 0 auto;
    padding-top: 112px;
    padding-bottom: 0;
  }
  .product__wrapper::after {
    content: "";
    display: table;
    clear: both;
  }
  .product {
    float: left;
    width: 316px;
    height: auto;
    margin-right: 51px;
    margin-bottom: 57px;
    text-align: left;
  }
  .product:nth-child(3n+3) {
    margin-right: 0;
  }
  .product:nth-child(3n+3)::after {
    content: "";
    display: table;
    clear: both;
  }
  .product:nth-child(1) .product__photo {
    content: url("../img/photo-1-desktop.jpg");
  }
  .product:nth-child(2) .product__photo {
    content: url("../img/photo-2-desktop.jpg");
  }
  .product:nth-child(3) .product__photo {
    content: url("../img/photo-3-desktop.jpg");
  }
  .product__header {
    float: none;
    width: 316px;
    min-height: 462px;
  }
  .product__photo {
    width: 316px;
    height: 462px;
  }
  .product__footer {
    float: none;
    width: auto;
    padding-left: 27px;
    padding-right: 31px;
    padding-top: 28px;
    padding-bottom: 25px;
  }
  .product__title {
    font-size: 18px;
  }
  .product__character {
    padding-bottom: 37px;
    font-size: 15px;
  }
  .product__price {
    font-size: 16px;
  }
}
@media (min-width: 1050px) and (min-width: 668px) {
  .product__wrapper {
    width: 668px;
  }
}
@media (min-width: 1050px) and (min-width: 1050px) {
  .product__wrapper {
    width: 1050px;
  }
}
.production__wrapper {
  width: 260px;
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 58px;
}
@media (min-width: 668px) {
  .production__wrapper {
    width: 668px;
  }
}
@media (min-width: 1050px) {
  .production__wrapper {
    width: 1050px;
  }
}
.production__header {
  position: relative;
  padding-left: 90px;
  padding-top: 25px;
  padding-bottom: 22px;
  border: 1px solid #ededed;
  border-bottom: none;
}
.production__header::after {
  content: "";
  position: absolute;
  top: 34px;
  left: 33px;
  width: 32px;
  height: 22px;
  background: url("../img/camera.svg");
}
.production__title {
  font-family: "Verdana_Bold", sans-serif;
  font-size: 16px;
  line-height: 24px;
}
.production__video {
  height: 150px;
  background: url("../img/video-mobile.jpg") no-repeat;
  border: 1px solid #ededed;
  border-top: none;
  border-bottom: none;
}
.production__player {
  position: relative;
  width: 260px;
}
.production__player::after {
  content: "";
  position: absolute;
  top: 40px;
  left: 80px;
  width: 102px;
  height: 78px;
  background: url("../img/video-play.svg");
  cursor: pointer;
}
.production__footer {
  padding: 0 33px;
  padding-top: 30px;
  padding-bottom: 32px;
  border: 1px solid #ededed;
  border-top: none;
  cursor: pointer;
}
.production__footer:hover {
  box-shadow: 2px 12px 10px #e9e9e9;
}
.production__footer:active {
  box-shadow: 0 0 10px #e9e9e9;
}
.production__text {
  margin-bottom: 22px;
  font-family: "OpenSans", sans-serif;
  font-size: 14px;
  line-height: 24px;
}
@media (min-width: 668px) {
  .production__wrapper {
    position: relative;
    padding-top: 455px;
    padding-bottom: 63px;
  }
  .production__header {
    padding-top: 40px;
    padding-left: 106px;
    padding-bottom: 32px;
  }
  .production__header::after {
    top: 38px;
    left: 41px;
  }
  .production__video {
    position: absolute;
    top: 0;
    width: 666px;
    min-height: 455px;
    background-image: url("../img/video-tablet.jpg");
  }
  .production__footer {
    padding: 0 42px;
    padding-bottom: 45px;
  }
  .production__text {
    margin-bottom: 33px;
    font-size: 16px;
    line-height: 30px;
  }
}
@media (min-width: 1050px) {
  .production__wrapper {
    position: static;
    padding-top: 0;
    padding-bottom: 105px;
  }
  .production__wrapper::after {
    content: "";
    display: table;
    clear: both;
  }
  .production__header {
    float: right;
    width: 144px;
    padding-top: 97px;
    padding-left: 80px;
    padding-right: 142px;
    padding-bottom: 34px;
  }
  .production__header::after {
    top: 46px;
    left: 80px;
  }
  .production__title {
    font-size: 18px;
    line-height: 24px;
  }
  .production__video {
    position: static;
    float: left;
    width: 680px;
    height: 455px;
    background-image: url("../img/video-desktop.jpg");
  }
  .production__footer {
    float: right;
    width: 242px;
    padding-left: 80px;
    padding-right: 44px;
    padding-bottom: 59px;
  }
  .production__text {
    margin-bottom: 43px;
  }
}
::-webkit-input-placeholder {
  color: #d2d2d2;
}
::-moz-placeholder {
  color: #d2d2d2;
}
/* Firefox 19+ */
:-moz-placeholder {
  color: #d2d2d2;
}
/* Firefox 18- */
:-ms-input-placeholder {
  color: #d2d2d2;
}
:focus::-webkit-input-placeholder {
  color: transparent;
}
:focus::-moz-placeholder {
  color: transparent;
}
:focus:-moz-placeholder {
  color: transparent;
}
:focus:-ms-input-placeholder {
  color: transparent;
}
.order__header {
  background-color: #f1f1f1;
}
.order__title {
  width: 260px;
  margin: 0 auto;
  padding-top: 77px;
  padding-bottom: 80px;
  font-family: "Verdana_Bold", sans-serif;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
}
@media (min-width: 668px) {
  .order__title {
    width: 668px;
  }
}
@media (min-width: 1050px) {
  .order__title {
    width: 1050px;
  }
}
.order__form {
  width: 260px;
  margin: 0 auto;
  padding-top: 27px;
  padding-bottom: 58px;
  transition: all 0.3s;
}
@media (min-width: 668px) {
  .order__form {
    width: 668px;
  }
}
@media (min-width: 1050px) {
  .order__form {
    width: 1050px;
  }
}
.form-slogan {
  margin-bottom: 27px;
  font-family: "OpenSans", sans-serif;
  font-size: 14px;
  line-height: 24px;
}
.form-slogan br {
  display: none;
}
.form-item {
  margin: 0;
  padding: 0;
  padding-top: 28px;
  padding-bottom: 34px;
  border: none;
  border-top: 1px solid #63d1bb;
}
.form-item__title {
  margin: 0;
  padding: 0;
  padding-right: 20px;
  font-family: "OpenSans", sans-serif;
  font-size: 16px;
  line-height: 16px;
  font-weight: bold;
  text-transform: uppercase;
  color: #63d1bb;
}
.form-item__radio {
  display: none;
}
.form-item__product {
  position: relative;
  display: block;
  height: 40px;
  margin-bottom: 24px;
  padding-left: 62px;
  line-height: 40px;
  cursor: pointer;
}
.form-item__product:nth-child(1) {
  line-height: 20px;
}
.form-item__product:last-child {
  margin-bottom: 0;
}
.form-item__product::before {
  content: "";
  position: absolute;
  left: 0;
  width: 36px;
  height: 36px;
  border: 2px solid #444444;
  border-radius: 50%;
}
.form-item__product:hover::before {
  border: 2px solid #63d1bb;
}
.form-item__product:active::before {
  border: 2px solid #c7c7c7;
}
.indicator {
  font-family: "Verdana_Bold", sans-serif;
  font-size: 16px;
  line-height: 20px;
}
.form-item__radio:checked + .indicator::after {
  content: "";
  position: absolute;
  top: 12px;
  left: 12px;
  width: 16px;
  height: 16px;
  background-color: #63d1bb;
  border-radius: 50%;
}
.form-item__color {
  position: relative;
  display: block;
  margin-bottom: 23px;
  padding-left: 62px;
  line-height: 40px;
  cursor: pointer;
}
.form-item__color:last-child {
  margin-bottom: 0;
}
.form-item__color::before {
  content: "";
  position: absolute;
  left: 0;
  width: 36px;
  height: 36px;
  border: 2px solid #666666;
}
.form-item__color:hover::before {
  border: 2px solid #63d1bb;
}
.form-item__color:active::before {
  border: 2px solid #c7c7c7;
}
.form-item__checkbox {
  display: none;
}
.form-item__checkbox:checked + .indicator::before {
  content: "";
  position: absolute;
  top: 18px;
  left: 10px;
  width: 1px;
  height: 10px;
  background-color: #666666;
  border: 1px solid #666666;
  transform: rotate(-45deg);
}
.form-item__checkbox:checked + .indicator::after {
  content: "";
  position: absolute;
  top: 8px;
  left: 22px;
  width: 1px;
  height: 22px;
  background-color: #666666;
  border: 1px solid #666666;
  transform: rotate(45deg);
}
.form-item__client {
  display: block;
  margin-bottom: 24px;
  font-family: "Verdana_Bold", sans-serif;
  font-size: 16px;
  line-height: 20px;
}
.form-item__client:nth-child(2) {
  margin-top: 8px;
}
.form-item__client:last-child {
  margin-bottom: 4px;
}
.form-item input:hover,
.form-item input:active,
.form-item input:focus {
  border-bottom: 2px solid #63d1bb;
}
.form-item__private-info {
  position: relative;
  display: block;
  min-width: 100%;
  padding: 16px 0;
  font-family: "Verdana", sans-serif;
  font-size: 16px;
  line-height: 18px;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid black;
}
input[name="phone"].form-item__private-info,
input[name="email"].form-item__private-info {
  box-sizing: border-box;
  margin-top: -16px;
  margin-bottom: 8px;
  padding-right: 42px;
  background-size: 25px auto;
  background-repeat: no-repeat;
  background-position: 227px;
}
input[name="phone"].form-item__private-info {
  background-image: url("../img/phone--off.svg");
}
input[name="phone"].form-item__private-info:hover,
input[name="phone"].form-item__private-info:active,
input[name="phone"].form-item__private-info:focus {
  background-image: url("../img/phone--hover.svg");
}
input[name="email"].form-item__private-info {
  background-image: url("../img/email--off.svg");
}
input[name="email"].form-item__private-info:hover,
input[name="email"].form-item__private-info:active,
input[name="email"].form-item__private-info:focus {
  background-image: url("../img/email--hover.svg");
}
.form-item textarea:hover,
.form-item textarea:active,
.form-item textarea:focus {
  border: 2px solid #63d1bb;
}
textarea.form-item__private-info {
  box-sizing: border-box;
  margin-bottom: 23px;
  padding: 16px;
  padding-bottom: 20px;
  border: 2px solid black;
}
.order__button {
  display: block;
  width: 100%;
  margin: 0 auto;
  background-color: transparent;
}
@media (min-width: 668px) {
  .order__header {
    position: relative;
  }
  .order__header::before {
    content: "";
    position: absolute;
    bottom: 0;
    min-height: 20px;
    width: 100%;
    background: url("../img/zigzag-desktop.svg") no-repeat;
    background-repeat: repeat-x;
    background-position-x: -16px;
    background-size: contain;
  }
  .order__title {
    padding-top: 97px;
    padding-bottom: 91px;
    font-size: 40px;
    line-height: 50px;
  }
  .order__form {
    width: auto;
    padding-top: 61px;
    padding-bottom: 52px;
  }
  .form-element_wrapper {
    position: relative;
    width: calc(501px);
    margin: 0 auto;
    padding-left: 167px;
  }
  .order__form > .form-element_wrapper:first-child,
  .order__form > .form-element_wrapper:last-child {
    width: 668px;
    padding-left: 0;
  }
  .order__form > .form-element_wrapper:last-child::after {
    content: "Все поля являются обязательными";
    position: absolute;
    right: 0;
    bottom: 11px;
    font-family: "OpenSans", sans-serif;
    font-size: 16px;
    line-height: 30px;
  }
  .form-slogan {
    margin: 0;
    font-size: 16px;
    line-height: 30px;
  }
  .form-slogan br {
    display: block;
  }
  .form-item {
    padding-top: 56px;
    padding-bottom: 52px;
    border: none;
  }
  .form-item:nth-child(2n+3):nth-child(-n+6) {
    background-color: #f1f1f1;
  }
  .form-item:nth-child(5) {
    padding-bottom: 0;
  }
  .form-item:nth-child(6) {
    padding-top: 0;
    background-color: #f1f1f1;
  }
  .order__form > .form-item .form-element_wrapper::before {
    position: absolute;
    top: 16px;
    left: 0;
    font-family: "OpenSans", sans-serif;
    font-size: 16px;
    line-height: 16px;
    font-weight: bold;
    text-transform: uppercase;
    color: #63d1bb;
  }
  .order__form > .form-item:nth-child(2) .form-element_wrapper::before {
    content: "тип";
  }
  .order__form > .form-item:nth-child(3) .form-element_wrapper::before {
    content: "цвет";
  }
  .order__form > .form-item:nth-child(4) .form-element_wrapper::before {
    content: "фио";
  }
  .order__form > .form-item:nth-child(5) .form-element_wrapper::before {
    content: "тел";
    top: 14px;
  }
  .order__form > .form-item:nth-child(6) .form-element_wrapper::before {
    content: "e-mail";
  }
  .order__form > .form-item:nth-child(7) .form-element_wrapper::before {
    content: "доп";
  }
  .form-item__title {
    font-size: 0;
    line-height: 0;
  }
  .form-item__product {
    height: 52px;
    margin-bottom: 25px;
    padding-left: 80px;
    line-height: 52px;
  }
  .form-item__product:nth-child(2) {
    line-height: 52px;
  }
  .form-item__product::before {
    width: 48px;
    height: 48px;
  }
  .indicator {
    font-size: 18px;
  }
  .form-item__radio:checked + .indicator::after {
    top: 16px;
    left: 16px;
    width: 20px;
    height: 20px;
  }
  .form-item__color {
    float: left;
    width: 160px;
    margin-bottom: 24px;
    padding-left: 80px;
    line-height: 51px;
  }
  .form-item__color:nth-child(1),
  .form-item__color:nth-child(2) {
    margin-top: 5px;
  }
  .form-item__color:nth-child(n+6) {
    margin-bottom: 9px;
  }
  .form-item__color::before {
    left: 0;
    width: 48px;
    height: 48px;
  }
  .form-item__checkbox:checked + .indicator::before {
    top: 22px;
    left: 15px;
    width: 1px;
    height: 12px;
  }
  .form-item__checkbox:checked + .indicator::after {
    top: 12px;
    left: 30px;
    width: 1px;
    height: 26px;
  }
  .form-item__client {
    display: block;
    margin-bottom: 24px;
    font-size: 18px;
    line-height: 20px;
  }
  .form-item__client:nth-child(2) {
    margin-top: -7px;
  }
  .form-item__client:last-child {
    margin-bottom: 15px;
  }
  .form-item__private-info {
    padding: 14px 0;
    font-size: 18px;
  }
  .form-item:nth-child(4) > .form-element_wrapper > .form-item__client > .form-item__private-info {
    display: inline-block;
    min-width: auto;
    margin-left: 24px;
  }
  .form-item:nth-child(4) > .form-element_wrapper > .form-item__client:nth-child(1) .form-item__private-info,
  .form-item:nth-child(4) > .form-element_wrapper > .form-item__client:nth-child(3) .form-item__private-info {
    width: 368px;
  }
  .form-item:nth-child(4) > .form-element_wrapper > .form-item__client:nth-child(2) .form-item__private-info {
    width: 420px;
  }
  input[name="phone"].form-item__private-info,
  input[name="email"].form-item__private-info {
    margin-top: -3px;
    margin-bottom: 24px;
    background-position: 468px;
  }
  input[name="email"].form-item__private-info {
    margin-top: 0;
    margin-bottom: 15px;
  }
  textarea.form-item__private-info {
    margin-top: 9px;
    margin-bottom: 0;
    padding: 15px;
  }
  .order__button {
    width: 226px;
    margin-left: 0;
    margin-right: auto;
  }
}
@media (min-width: 1050px) {
  .order__header::before {
    min-height: 34px;
  }
  .order__title {
    padding-top: 99px;
    padding-bottom: 116px;
    font-size: 50px;
    line-height: 57px;
  }
  .order__form {
    width: auto;
    padding-top: 105px;
    padding-bottom: 96px;
  }
  .form-element_wrapper {
    width: calc(700px);
    margin: 0 auto;
    padding-left: 175px;
    padding-right: 175px;
  }
  .order__form > .form-element_wrapper:first-child,
  .order__form > .form-element_wrapper:last-child {
    width: calc(700px);
    padding-left: 175px;
  }
  .order__form > .form-element_wrapper:last-child::after {
    right: 175px;
  }
  .form-item {
    padding-left: 0;
  }
  .order__form > .form-item .form-element_wrapper::before {
    top: 18px;
    left: 62px;
  }
  .order__form > .form-item:nth-child(3) .form-element_wrapper::before {
    top: 22px;
  }
  .order__form > .form-item:nth-child(4) .form-element_wrapper::before {
    top: 12px;
  }
  .order__form > .form-item:nth-child(6) .form-element_wrapper::before {
    top: 17px;
    left: 56px;
  }
  .form-item__product {
    line-height: 52px;
  }
  .form-item__product::before {
    width: 48px;
    height: 48px;
  }
  .form-item__radio:checked + .indicator::after {
    top: 16px;
    left: 16px;
    width: 20px;
    height: 20px;
  }
  .form-item__color {
    float: left;
    width: 182px;
    margin-bottom: 24px;
  }
  .form-item__color:nth-child(-n+4) {
    margin-top: 5px;
  }
  .form-item__color:nth-child(n+5) {
    margin-top: 5px;
    margin-bottom: 24px;
  }
  .form-item__color:nth-child(3),
  .form-item__color:nth-child(6) {
    margin-right: -100px;
  }
  .form-item__client {
    margin-bottom: 24px;
  }
  .form-item__client:nth-child(2) {
    margin-top: -3px;
  }
  .form-item__client:last-child {
    margin-bottom: 15px;
  }
  .form-item:nth-child(4) > .form-element_wrapper > .form-item__client:nth-child(1) .form-item__private-info,
  .form-item:nth-child(4) > .form-element_wrapper > .form-item__client:nth-child(3) .form-item__private-info {
    width: 566px;
  }
  .form-item:nth-child(4) > .form-element_wrapper > .form-item__client:nth-child(2) .form-item__private-info {
    width: 618px;
  }
  input[name="phone"].form-item__private-info,
  input[name="email"].form-item__private-info {
    background-position: 666px;
  }
  textarea.form-item__private-info {
    margin-top: 8px;
    margin-bottom: 38px;
    padding: 10px 16px;
    line-height: 18px;
  }
}
.page-footer {
  background-color: #f1f1f1;
}
.page-footer__wrapper {
  width: 260px;
  margin: 0 auto;
  text-align: center;
  background-color: #f1f1f1;
}
@media (min-width: 668px) {
  .page-footer__wrapper {
    width: 668px;
  }
}
@media (min-width: 1050px) {
  .page-footer__wrapper {
    width: 1050px;
  }
}
.page-footer__social {
  margin: 0;
  padding: 0;
  padding-top: 24px;
  padding-bottom: 28px;
}
.page-footer__copyright {
  margin: 0;
  padding: 0;
  padding-top: 22px;
  padding-bottom: 23px;
  font-family: "Verdana_Bold", sans-serif;
  font-size: 18px;
  line-height: 34px;
  border-top: 1px solid #cccccc;
}
.page-footer__copyright span {
  display: inline-block;
  margin-top: -11px;
}
.page-footer__copyright a {
  display: inline-block;
  width: 27px;
  height: 34px;
  margin-left: 25px;
  vertical-align: bottom;
  background: url("../img/htmlacademy.svg") no-repeat;
}
.page-footer__copyright a:hover {
  background-image: url("../img/htmlacademy--hover.svg");
}
.page-footer__copyright a:active {
  background-image: url("../img/htmlacademy--active.svg");
}
.social {
  font-size: 0;
}
.social__link {
  display: inline-block;
  padding-right: 40px;
  vertical-align: bottom;
  text-decoration: none;
}
.social__link--inst {
  width: 21px;
  height: 22px;
  background: url('../img/inst.svg') no-repeat;
}
.social__link--inst:hover {
  background-image: url("../img/inst--hover.svg");
}
.social__link--inst:active {
  background-image: url("../img/inst--active.svg");
}
.social__link--fb {
  width: 15px;
  height: 29px;
  background: url('../img/fb.svg') no-repeat;
}
.social__link--fb:hover {
  background-image: url("../img/fb--hover.svg");
}
.social__link--fb:active {
  background-image: url("../img/fb--active.svg");
}
.social__link--twit {
  width: 24px;
  height: 20px;
  padding-right: 0;
  background: url('../img/twit.svg') no-repeat;
}
.social__link--twit:hover {
  background-image: url("../img/twit--hover.svg");
}
.social__link--twit:active {
  background-image: url("../img/twit--active.svg");
}
@media (min-width: 668px) {
  .page-footer__wrapper {
    position: relative;
    width: calc(407px);
    padding-left: 261px;
  }
  .page-footer__wrapper::after {
    content: "";
    display: table;
    clear: both;
  }
  .page-footer__logo {
    position: absolute;
    top: 51px;
    left: 0;
    width: 104px;
    height: 34px;
    background: url("../img/logo-footer.svg") no-repeat;
  }
  .page-footer__logo:hover {
    background-image: url("../img/logo-footer--hover.svg");
  }
  .page-footer__logo:active {
    background-image: url("../img/logo-footer--active.svg");
  }
  .page-footer__social {
    float: left;
    padding: 57px 0;
  }
  .page-footer__copyright {
    float: right;
    margin: 0;
    padding: 0;
    padding-top: 58px;
    padding-bottom: 50px;
    font-family: "Verdana_Bold", sans-serif;
    font-size: 18px;
    line-height: 34px;
    border-top: 1px solid #cccccc;
  }
}
@media (min-width: 1050px) {
  .page-footer__wrapper {
    width: calc(598px);
    padding-left: 452px;
  }
}
